{{define "repo"}}
<div class="repo">
        <h2>{{.Owner}}/{{.Repo}}</h2>

        <div class="issue-list">
            {{ range .Issues }}
            <div class="issue">
                <button class="hide-btn" onclick="hideIssue(this)">Hide (refresh page to show again)</button>
                <h4><a href="{{ .HTMLURL }}">
                    {{ if .PullRequest }}
                    PR
                    {{ else }}
                    Issue 
                    {{ end }}
                    {{ .Number }}
                </a> - {{ .Title }} - <span class="timestamp">{{ .UpdatedAt.Format "2006-01-02T15:04:05.000Z" }}</span> - {{ .State }}</h4>

                {{ if .Comments}}
                <h5>Comments</h5>
                <div class="comment-list">
                    {{ range .Comments }}
                    <div class="comment">
                        <a href={{.HTMLURL | safe}}>{{ .User.Login }} <span class="timestamp">{{ .UpdatedAt.Format "2006-01-02T15:04:05.000Z" }}</span></a>
                        <div class="body">
                            {{.Body | safe}}
                        </div>
                    </div>
                    {{ end }}
                </div>
                {{ end }}

                <details>
                    <summary>Events</summary>
                    <div class="event-list">
                        {{ range .Events }}
                        <div class="event">
                            <span class="timestamp">{{ .CreatedAt.Format "2006-01-02T15:04:05.000Z" }}</span> - {{ .Event }}
                        </div>
                        {{ end }}
                    </div>
                </detail>

            </div>
            {{ end }}
        </div>
    </div>
{{end}}