<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{$.SiteRoot}}static/header.css" rel="stylesheet" />
    <link href="{{$.SiteRoot}}static/footer.css" rel="stylesheet" />
    <link href="{{$.SiteRoot}}static/index.css" rel="stylesheet" />
    <title>Dashboard for {{ .Repo.Owner }}/{{ .Repo.Repo }}</title>
</head>
<body>
    {{template "header" .}}
    {{ template "repo" .Repo }}
    {{template "footer" .}}
    <script type="text/javascript" src="{{$.SiteRoot}}static/local.js"></script>
    <script type="text/javascript" src="{{$.SiteRoot}}static/hide.js"></script>
</body>
</html>
