{{define "repo"}}
<div class="repo">
        <h2>{{.Owner}}/{{.Repo}}</h2>
        <div class="issue-list">
            {{ range .Issues }}
            <details class="issue" open>

                <summary>
                    <span class="issue-title"><a href="{{ .HTMLURL }}" target="_blank">
                    {{ if .PullRequest }}
                    PR
                    {{ else }}
                    Issue 
                    {{ end }}
                    {{ .Number }}
                </a> - {{ .Title }}
            
                    <div class="issue-tags">
                        <span class="tag updated-time"><span class="timestamp">{{ .UpdatedAt.Format "2006-01-02T15:04:05.000Z" }}</span></span>
                        {{ range $state, $count := .ReviewStates }}
                        <span class="tag state">{{ $state }}: {{ $count }}</span>
                        {{ end }}
                        {{ if and .PR .PR.Draft }}
                        <span class="tag draft">draft</span>
                        {{ else if and .PR .PR.Merged}}
                        <span class="tag merged">merged</span>
                        {{ else }}
                        <span class="tag repo-status">{{ .State }}</span>
                        {{ end }}
                    </div>
            </summary>

                {{ if .Comments}}
                <h5>Comments</h5>
                <div class="comment-list">
                    {{ range .Comments }}
                    <div class="comment">
                        <a href={{.HTMLURL | safe}} target="_blank">{{ .User.Login }} <span class="timestamp">{{ .UpdatedAt.Format "2006-01-02T15:04:05.000Z" }}</span></a>
                        <div class="body">
                            {{.Body | safe}}
                        </div>
                    </div>
                    {{ end }}
                </div>
                {{ end }}

                {{ if .Commits }}
                <div class="commits-container">
                    <details>
                        <summary>Commits</summary>
                        <div class="commit-list">
                            {{ range .Commits }}
                            <div class="commit">
                                {{ if .Author }}
                                {{ .Author.Login }} - 
                                {{ end }}
                                <span class="timestamp">{{ .Commit.Committer.Date.Format "2006-01-02T15:04:05.000Z" }}</span> - <a href="https://github.com/{{$.Owner}}/{{$.Repo}}/commit/{{.SHA }}" target="_blank">{{ .SHA | printf "%.8s" }}</a> - {{ .Commit.Message }}
                            </div>
                            {{ end }}
                        </div>
                    </details>
                </div>
                {{ end }}

                {{ if .Events }}
                <div class="events-container">
                    <details>
                        <summary>Events</summary>
                        <div class="event-list">
                            {{ range .Events }}
                            <div class="event">
                                <span class="timestamp">{{ .CreatedAt.Format "2006-01-02T15:04:05.000Z" }}</span> - {{ .Event }}
                            </div>
                            {{ end }}
                        </div>
                    </details>
                </div>
                {{ end }}
            </details>
            {{ end }}
        </div>
    </div>
{{end}}